CompileFlags:
  Add: [
    "-std=c++23",
    "-fmodules",
    "-fno-implicit-modules",
    "-fno-implicit-module-maps"
  ]
  Remove: [
    "-fmodule-file=*",
    "-fimplicit-modules",
    "-fimplicit-module-maps"
  ]
  CompilationDatabase: "."

Index:
  Background: Build

# ---
# If:
#   PathMatch: .*\.hlsl
#
# CompileFlags:
#   CompilationDatabase: ""
#   Remove: ["-std=*", "-fmodules*", "-fno-fimplicit-modules*", "fno-fimplicit-module-maps*", "--target=*"]
#   Add:
#     - "-xhlsl"
#     - "--target=spirv-unknown-vulkan-library"
#     - "-std=hlsl2021"
#     - "-DSPIRV"
#     - "-fms-extensions"
#     - "finclude-default-header"
#     - "-Tvs_6_x"
#     - "-Wno-unknown-attributes"
#     - "-Wno-hlsl-unknown-semantic"
